
<!DOCTYPE html>
<html lang="en">

<!-- ICONSCOUT CDN -->
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
<!-- GOOGLE FONTS(MONTSERRAT) -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<!-- SWIPER JS -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
/>

<link rel="stylesheet" href="courses.component.scss">
<style>
    .courses {
        margin-top: 1rem;
    }
</style>

<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
</head>
<body>

<nav class="nav">
    <div class="container nav__container">
        <a routerLink="/homepage"><h1>Programmes</h1></a>
        <ul class="nav__menu">
            <li><a routerLink="/homepage">Homepage</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/courses">Programmes</a></li>
            <li><a routerLink="/contact">Contact</a></li>
        </ul>
        <button id="open-menu-btn"><i class="uil uil-bars"></i></button>
        <button id="close-menu-btn"><i class="uil uil-multiply"></i></button>
    </div>
</nav>

<section class="courses">
    
    <p class="container courses__category">Bachelor's Programmes</p>
    
    <div class="container courses__container">
        <article class="course">
            <div class="course__image">
                <img src="assets/images/bachelor/bachelor1.jpg">
            </div>
            <div class="course__info">
                <h4>Computer Science (Romanian)</h4>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Laborum voluptates esse enim laboriosam ex, voluptas atque.
                </p>
                <a href="https://www.info.uvt.ro/en/informatica/" target="_blank" class="btn btn-primary">Learn More</a>
            </div>
            
        </article>

        <article class="course">
            <div class="course__image">
                <img src="assets/images/bachelor/bachelor2.png">
            </div>
            <div class="course__info">
                <h4>Applied Computer Science</h4>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Laborum voluptates esse enim laboriosam ex, voluptas atque.
                </p>
                <a href="https://www.info.uvt.ro/en/applied-informatics/" target="_blank" class="btn btn-primary">Learn More</a>
            </div>
            
        </article>

        <article class="course">
            <div class="course__image">
                <img src="assets/images/bachelor/bachelor3.jpg">
            </div>
            <div class="course__info">
                <h4>Computer Science (English)</h4>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Laborum voluptates esse enim laboriosam ex, voluptas atque.
                </p>
                <a href="https://www.info.uvt.ro/en/informatica-engleza/" target="_blank" class="btn btn-primary">Learn More</a>
            </div>
            
        </article>     

        <article class="course">
            <div class="course__image">
                <img src="assets/images/bachelor/bachelor4.jpg">
            </div>
            <div class="course__info">
                <h4>Mathematics</h4>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Laborum voluptates esse enim laboriosam ex, voluptas atque.
                </p>
                <a href="https://www.info.uvt.ro/en/matematica/" target="_blank" class="btn btn-primary">Learn More</a>
            </div>
            
        </article>  

        <article class="course">
            <div class="course__image">
                <img src="assets/images/bachelor/bachelor5.jpg">
            </div>
            <div class="course__info">
                <h4>Mathematics and Computer Science</h4>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Laborum voluptates esse enim laboriosam ex, voluptas atque.
                </p>
                <a href="https://www.info.uvt.ro/en/matematica-informatica/" target="_blank" class="btn btn-primary">Learn More</a>
            </div>
            
        </article>  
    </div>
    <p class="container courses__category">Master’s Programmes</p>
    <div class="container courses__container">
        <article class="course">
            <div class="course__image">
                <img src="assets/images/master/master1.jpg">
            </div>
            <div class="course__info">
                <h4>Artificial Intelligence and Distributed Computing</h4>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Laborum voluptates esse enim laboriosam ex, voluptas atque.
                </p>
                <a href="https://www.info.uvt.ro/en/artificial-intelligence-and-distributed-computing/" target="_blank" class="btn btn-primary">Learn More</a>
            </div>
            
        </article>

        <article class="course">
            <div class="course__image">
                <img src="assets/images/master/master2.jpg">
            </div>
            <div class="course__info">
                <h4>Big Data</h4>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Laborum voluptates esse enim laboriosam ex, voluptas atque.
                </p>
                <a href="https://www.info.uvt.ro/en/big-data-data-science/" target="_blank" class="btn btn-primary">Learn More</a>
            </div>
            
        </article>

        <article class="course">
            <div class="course__image">
                <img src="assets/images/master/master3.jpg">
            </div>
            <div class="course__info">
                <h4>Bioinformatics</h4>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Laborum voluptates esse enim laboriosam ex, voluptas atque.
                </p>
                <a href="https://www.info.uvt.ro/en/bioinformatics/" target="_blank" class="btn btn-primary">Learn More</a>
            </div>
            
        </article>     

        <article class="course">
            <div class="course__image">
                <img src="assets/images/master/master4.jpg">
            </div>
            <div class="course__info">
                <h4>Software Engineering</h4>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Laborum voluptates esse enim laboriosam ex, voluptas atque.
                </p>
                <a href="https://www.info.uvt.ro/en/inginerie-software/" target="_blank" class="btn btn-primary">Learn More</a>
            </div>
            
        </article>  

        <article class="course">
            <div class="course__image">
                <img src="assets/images/master/master5.jpg">
            </div>
            <div class="course__info">
                <h4>Cybersecurity (Romanian)</h4>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Laborum voluptates esse enim laboriosam ex, voluptas atque.
                </p>
                <a href="https://www.info.uvt.ro/en/securitate-cibernetica/" target="_blank" class="btn btn-primary">Learn More</a>
            </div>
            
        </article>
        <article class="course">
            <div class="course__image">
                <img src="assets/images/master/master6.jpg">
            </div>
            <div class="course__info">
                <h4>Cybersecurity (English)</h4>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Laborum voluptates esse enim laboriosam ex, voluptas atque.
                </p>
                <a href="https://www.info.uvt.ro/en/cybersecurity/" target="_blank" class="btn btn-primary">Learn More</a>
            </div>
            
        </article>
        <article class="course">
            <div class="course__image">
                <img src="assets/images/master/master7.jpg">
            </div>
            <div class="course__info">
                <h4>Intelligent Software Robotics</h4>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Laborum voluptates esse enim laboriosam ex, voluptas atque.
                </p>
                <a href="https://www.info.uvt.ro/en/intelligent-software-robotics/" target="_blank" class="btn btn-primary">Learn More</a>
            </div>
            
        </article>

        <article class="course">
            <div class="course__image">
                <img src="assets/images/master/master8.jpg">
            </div>
            <div class="course__info">
                <h4>Financial Mathematics</h4>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Laborum voluptates esse enim laboriosam ex, voluptas atque.
                </p>
                <a href="https://www.info.uvt.ro/en/financial-mathematics/" target="_blank" class="btn btn-primary">Learn More</a>
            </div>
            
        </article>

        <article class="course">
            <div class="course__image">
                <img src="assets/images/master/master9.jpg">
            </div>
            <div class="course__info">
                <h4>Analytical and geometric modelling of systems</h4>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Laborum voluptates esse enim laboriosam ex, voluptas atque.
                </p>
                <a href="https://www.info.uvt.ro/en/modelari-analitice-si-geometrice-ale-sistemelor/" target="_blank" class="btn btn-primary">Learn More</a>
            </div>
            
        </article>        
    </div>
</section>




<footer>
    <div class="container footer__container">
        <div class="footer__1">
            <a routerLink="/homepage" class="footer__logo"><h4>UVT location</h4></a>
            <iframe class="footer__map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5568.3865597060285!2d21.23098!3d45.747271!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47455d54949311ab%3A0x3a74d0271efa99ad!2sBulevardul%20Vasile%20P%C3%A2rvan%204%2C%20Timi%C8%99oara%20300222%2C%20Romania!5e0!3m2!1sen!2sus!4v1687803322439!5m2!1sen!2sus" 
            style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="footer__2">
            <h4>Quick Links</h4>
            <ul>
                <li><a routerLink="/homepage">Home</a></li>
                <li><a routerLink="/courses">Courses</a></li>
                <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/contact">Contact</a></li>
            </ul>
        </div>
        <div class="footer__3">
            <h4>Privacy</h4>
            <ul class="privacy">
                <li><a href="https://www.uvt.ro/politica-de-confidentialitate/" target="_blank">Privacy Policy</a></li>
                <li><a href="https://www.uvt.ro/politica-cookies/" target="_blank">UVT Cookies Policy</a></li>
                <li><a href="https://www.uvt.ro/gdpr/" target="_blank">GPDR</a></li>
            </ul>
        </div>
        <div class="footer__4">
            <h4>Contact Us</h4>
            <div class="footer__contacts">
                <div class="footer__contact footer__phone">
                    <i class="uil uil-phone"></i>
                    <p>0256 592 155 | 0256 592 364</p>
                </div>
                <div class="footer__contact footer__email">
                    <i class="uil uil-envelope"></i>
                    <p>secretariat.mateinfo@e-uvt.ro</p>
                </div>
                
                <div class="footer__contact footer__address">
                    <i class="uil uil-location-point"></i>
                    <p>Vasile Pârvan blvd. no. 4 Timişoara Timiş România 300223</p>
                </div>
            </div>

            <ul class="footer__socials">
                <li>
                    <a href="https://www.facebook.com/fmi.uvt"><i class="uil uil-facebook-f"></i></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/fmi_uvt/"><i class="uil uil-instagram-alt"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/uvtromania"><i class="uil uil-twitter"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/school/west-university-of-timisoara/"><i class="uil uil-linkedin-alt"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__copyright">
        <small>Copyright &copy; West University of Timișoara 2023</small>
    </div>
</footer>

<div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Chat support</h4>
                    <p class="chatbox__description--header">Hi. My name is Cristophor! Always ready to help you!</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button>
                <mat-icon>forum</mat-icon>
            </button> 
        </div>
    </div>
</div>

</body>
</html>
<router-outlet></router-outlet>
