/* COURSES
==================== */

.courses {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
}

.course__image {
    width: 100%;
    padding: 1rem;
}

.courses__category {
    font-size: 2rem;
    padding: 2rem 0 2rem;
}

.courses__container {
    display: grid;
    grid-template-columns : repeat(3, 1fr);
    gap: 2rem;
}

.course {
    background: var(--color-bg1);
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.course:hover {
    background: transparent;
    border-color: var(--color-primary);
}

.course__info {
    padding: 2rem;
}

.course__info p {
    margin: 1.2rem 0 2rem;
    font-size: 0.9rem;
}

/* MEDIA QUERIES TABLET */

@media screen and (max-width: 1024px) {
    .courses__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .courses__container {
        grid-template-columns: 1fr;
    }
}